@model List<Wedding>

<h1>Welcome to the Wedding Planner</h1>
<a asp-action="Logout" asp-controller="Home" class="btn btn-danger">logout</a>
<a asp-action="NewWedding" asp-controller="Wedding" class="btn btn-danger">New Wedding</a>

<hr>
<table style = "width: 50%; border: 2px solid black;">
<tr>
        <th>Wedding</th>
        <th>Date</th>
        <th>Guests</th>
        <th>Action</th>
</tr>
@foreach( var w in @Model)
{
    
    
    <tr>
        <td><a href="/Wedding/@w.WeddingID">@w.WedderOne & @w.WedderTwo</a></td>
        <td>@w.Date.ToString("d")</td>
        <td>@w.GuestList.Count</td>

        @if(ViewBag.UserId == @w.UserId)
        
        {
            <td><a href="/Destroy/@w.WeddingID">Delete</a></td>
        }
        else
        {
            @if(w.GuestList.All(r => r.UserId != ViewBag.UserId))
            {
                <td><a href="/rsvp/@w.WeddingID/add">RSVP</a></td>
            }
            @if(w.GuestList.Any(r => r.UserId == ViewBag.UserId))
            {
                <td><a href="/rsvp/@w.WeddingID/remove" >Back Out</a></td>
            }
        }
        
    </tr>

}
</table>

